@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}

*::-webkit-scrollbar {
  width: 0px;
}